<ion-router-outlet></ion-router-outlet>
<ion-tabs class="animate__animated animate__fadeIn">
  <ion-tab-bar slot="bottom" mode="ios" selected-tab="inicio" [translucent]="true" [class]="modoOscuro? 'tab-bar-dark' : 'tab-bar-light'">
    <ion-tab-button tab="inicio" mode="md">
      <ion-icon name="home"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="comandas" mode="md">
      <ion-icon name="restaurant"></ion-icon>
      Comandas
    </ion-tab-button>
    <ion-tab-button tab="reservas" mode="md">
      <ion-icon name="calendar"></ion-icon>
      Reservas
    </ion-tab-button>
    <ion-tab-button tab="ajustes" mode="md">
      <ion-icon name="settings"></ion-icon>
      Ajustes
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>